body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../static/bkimage.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid hsla(0, 0%, 45%, 0.749);
    border-radius: 5px;
    outline: none;
    background: none;
    color: #f5f5f5a1;
}
.cityInput::placeholder{
    color: #e7dfdfdd;
    opacity: 0.7;
}
button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #e7dfdfdd;
    background-color: hsla(124, 95%, 23%, 0.815);
    font-weight: bold;
    font-size: 1.5rem;
}
button:hover{
    cursor: pointer;
    background-color: hsl(124, 79%, 28%);
}
.card{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #9c373769, #3d492169);
    padding: 50px;
    box-shadow: 2px 2px 5px #00000093;
    border-radius: 10px;
    width: 400px;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 20px;
    color: #e7dfdfdd;
}
.humidityDisplay, .descp{
    font-weight: bold;
    color: #e7dfdfdd;
}
.emojiDisplay{
    margin: 0;
    font-size: 6rem;
    color: #e7dfdfdd;
}
.errorDisplay{
    font-weight: bold;
    font-size: 1.5rem;
    color: #e7dfdfdd;
}
.flash-message {
    color: white;
    transition: opacity 0.5s ease;
}
.flash-message.hide {
    opacity: 0;
    pointer-events: none;
}