<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #282c34;
            color: white;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background: #444;
            margin: 10px 0;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
        }
        li:hover {
            background: #555;
        }
    </style>
</head>
<body>
    <h1>Search History</h1>
    {% if history %}
        <ul>
            {% for city in history %}
                <li onclick="goToCity('{{ city }}')">{{ city }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No history available.</p>
    {% endif %}

    <a href="/weather" style="
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    background-color: #444;
                    color: whitesmoke;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;">⬅️Back to Weather</a>

    <script>
        function goToCity(city) {
            localStorage.setItem('selectedCity', city);
            window.location.href = "/weather";
        }
    </script>
</body>
</html>