<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Weather</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form class="weatherForm">
        <input type="text" class="cityInput" placeholder="Enter a City">
        <button type="submit">Get Weather</button>
    </form>

    <div class="card" style="visibility: hidden;"></div>


    <button 
        onclick="window.location.href='{{ url_for('history_page') }}'" 
        style=
            "position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #444;
            color: #e7dfdfdd;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;">
        History
    </button>
    <button 
        onclick="window.location.href='{{ url_for('logout') }}'" 
        style=
            "position: fixed;
            top: 20px;
            right: 20px;
            background-color: #444;
            color: #e7dfdfdd;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;">
        Logout
    </button>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
</body>
</html>